body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

 /* Header */

.header {
    background-color: #D8A708;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.header .logo {
    color: white;
    font-size: 24px;
    margin-right: auto;
    border: 1px solid white;
    padding: 5px 10px;
}

.header nav {
    display: flex;
    gap: 20px;
}

.header nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.header nav a:hover {
    background-color: #A37004; /* Darker shade for hover */
    border-radius: 2px;
    transform: scale(1.1);
}

/* First-Section */

.firstOne{
    height: 83vh;
    background-image: url('1st.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #7ca8cc;
    background-blend-mode: overlay; 
}

/* Left-box */

.left{
    border-radius: 0 300px 300px 0;
    width: 600px;
    height: 450px; 
    background-color: white;
    position: absolute;
    top: 22%;
}

/* Text in left box in first section */

.text{
    padding-top: 70px;
    width: 70%;
    padding-left: 40px;
    line-height: 30px;
}

.heading{
    color: #3f8ac4;
}

.link{
    color: #3f8ac4;
    text-decoration: none;
}

/* right box in first section */

.right{
    height: 500px;
    width: 35%;
    padding-left: 650px;
    line-height: 30px;
    padding-top: 200px;
    color: white ;
}

/* second section */

.secondOne{
    height: 100vh;
    background-color: #c96060;
    background-image: url('2nd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    position: relative;
}

/* left image in second section */

.left_img{
    padding-top: 170px;
    padding-left: 90px;
    height: 300px;
    width: 300px;
}

/* right-box */

.right1{
    border-radius: 300px 0 0 300px;
    width: 650px;
    height: 500px; 
    background-color: white;
    position: absolute; 
    top: 10%;
    right: 0;
}

/* text in right box in second section */

.text1{
    padding-left: 140px;
    width: 65%;
    padding-top: 100px;
    line-height: 30px;
}

.heading2{
    margin: 0;
}

/* third section */

.thirdOne{
    height: 100vh;
    background-image: url('3rd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #615353;
    background-blend-mode: overlay; 
    display: flex;
}

/* left-box */

.left2{
    border-radius: 0 300px 300px 0;
    width: 600px;
    height: 500px; 
    background-color: white;
    position: relative;
    top: 10%;
}

/* text in left box in section3 */

.text2{
    padding-top: 70px;
    width: 70%;
    padding-left: 40px;
    line-height: 30px;
}

/* right box */

.right2_img{
    height: 300px;
    width: 300px;
    padding-top: 170px;
    padding-left: 80px;
}

/* fourth section */

.fourthOne {
    height: 100vh;
    background-image: url('4tg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #5bbeac;
    background-blend-mode: overlay; 
    position: relative;
    display: flex;
    justify-content: flex-end; 
}

/* right - box */

.right3 {
    border-radius: 300px 0 0 300px;
    width: 650px;
    height: 500px; 
    background-color: white;
    position: absolute; 
    top: 50%;
    right: 0; 
    transform: translateY(-50%); 
}

/* text in right box in fourth section */

.text3{
    padding-left: 140px;
    width: 65%;
    padding-top: 100px;
    line-height: 30px;
}

.link1{
    color: #5bbeac;
    text-decoration: none;
}

.form{
    padding-top: 150px;
    padding-right: 800px;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #affff0;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
}

#name, #email, #text, #message, #subject{
    background-color: #afeee2;
    color: white;
}

.form button {
    background-color: #5bbeac;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* footer */

footer {
    background-color: #D8A708;
    padding: 1rem 0;
}

footer p {
    font-size: 0.9rem;
    color: white; 
    margin: 0;
    text-align: center;
}